<!DOCTYPE html>
<html>
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/great.css">
<section>
  <div class="stars">
    <div>★</div>
    <div>★</div>
    <div>★</div>
    <div>★</div>
    <div>★</div>
  </div>
  <h1 align="center">ERROR</h1>
  <h3><%= title %></h3>
  <h2>&nbsp;&nbsp;MAKE Engineer GREAT AGAIN!</h2>
  <div class="stars">
    <div>★</div>
    <div>★</div>
    <div>★</div>
    <div>★</div>
    <div>★</div>
  </div>
</section>
</html>